{% extends 'base.html.twig' %}

{% block title %}Locked date{% endblock %}

{% block body %}
    {% include 'page/navbar.html.twig' %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-body">
                        <h1>Bloquer une date</h1>

                        {{ form_start(lockedDateForm) }}

                        <div class="form-group">
                            {{ form_row(lockedDateForm.locked_date, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <button  type="submit" class="btn btn-sm btn-primary">Bloquer la date</button>
                        {{ form_end(lockedDateForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
