{% extends 'base.html.twig' %}
{% block body %}
    {% include 'page/navbar.html.twig' %}

    <div class="container">
        <div class="text-center row mb-3 title-div">
            <div class="col">
                <div class="card-body py-3">

                    <img class="img-fluid" src="{{ asset('assets/img/flag-circle.png') }}" style="max-width: 10rem">

                    <h1 class="text-black mb-0 mt-3 title-home text-white">L'Ambassade de la R.I. d'Afghanistan en France</h1>
                    <h6 class="page-header-subtitle text-white mt-2">&amp; Délégation permanente d'Afghanistan auprès
                        de l'UNESCO et de l'ICESCO</h6>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 ">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-body">
                    <div class="row">
                        <h1 class="text-center">Bienvenue au service de rendez-vous</h1>
                        <div class="col text-center m-3">
                            <img class="img-thumbnail img-fluid"
                                 src="{{ asset('assets/img/undraw_date_picker_gorr.svg') }}" alt=""
                                 style="max-width: 20rem">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>



{% endblock %}