{% extends 'base.html.twig' %}
{% block body %}
    {% include 'page/navbar.html.twig' %}

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-body">
            <form action="" method="Post" id="form" class="form p-4">
                <div class="form-group">
                    <select class="form-control" id="myselect">
                        <option value="1">Procuration</option>
                        <option value="2">Visa Passeport</option>
                    </select>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-primary mb-2" type="button" name="button" onclick="Geeks()">
                        Submit
                    </button>
                </div>
            </form>



                    <div id="datepicker-container">
                        <div id="datepicker-center">
                    <div id="datepicker"></div>
                        </div>
                    </div>
                    </div>

                    <input type="hidden" id="my_hidden_input">

                    <div id="pickyDate" class="text-center"></div>
                    <div>

                    </div>

                    <div id="getRendez-vous">
                        <h1 id="showDate" class="text-center"></h1>
                    </div>

                    <div id="myDiv" class="text-center custom-control custom-checkbox"></div>






                </div>
            </div>
            </div>
        </div>





    </div>
{% endblock %}