{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-body">
            <form action="" method="Post" id="form" class="form p-4">
                <div class="form-group">
                    <select class="form-control" id="myselect">
                        <option value="1">Procuration</option>
                        <option value="2">Visa Passeport</option>
                    </select>
                </div>
                <div class="text-center mt-2">
                    <button class="btn btn-primary mb-2" type="button" name="button" onclick="Geeks()">
                        Submit
                    </button>
                </div>
            </form>




                    <div id="datepicker"></div>
                    <input type="hidden" id="my_hidden_input">

                    <div id="pickyDate"></div>
                    <div>

                    </div>

                    <div id="getRendez-vous">
                        <h1 id="showDate"></h1>
                    </div>

                    <div id="myDiv"></div>




                </div>
            </div>
            </div>
        </div>





    </div>

    <script>

        function Geeks() {

            $("#form").hide();
            var $monday;
            var $wedensday;
            var $thursday;
            var $thuesday;

            var valuesss = $("#myselect option:selected").text();

            if (valuesss === "Procuration") {
                $thursday = 2;
                $thuesday = 4;

            } else {
                $thursday = "";
                $thuesday = "";
                $monday = 1;
                $wedensday = 3;

            }

            $("#getRendez-vous").hide();

            $('#datepicker').datepicker({
                format: "yyyy-mm-dd",
                language: "FR",
                todayHighlight: true,
                daysOfWeekDisabled: [$thursday, $thuesday, $monday, $wedensday, 5]
            }).on('changeDate', getTodayDate);

            function getTodayDate() {
                var value = $('#datepicker').datepicker('getFormattedDate');
                $("#showDate").text(value);
                $("#getRendez-vous").show();

                var myDiv = document.getElementById("myDiv");
                $(myDiv).html("");
                $.ajax({
                    url: '/heure',
                    type: "GET",
                    dataType: "json",
                    data: 'date=' + value,
                    async: true,
                    success: function (data) {


                        for (let i = 0; i < data.length; i++) {

                            var checkbox = document.createElement('input');

                            checkbox.type = "checkbox";
                            checkbox.name = data[i]['heure'];
                            checkbox.className = "heureCheckBox"
                            checkbox.id = "id";

                            var label = document.createElement('label');

                            label.htmlFor = "id";

                            label.appendChild(document.createTextNode(data[i]['heure']));

                            myDiv.appendChild(checkbox);
                            myDiv.appendChild(label);

                        }


                    }

                });


            }

        }


    </script>
{% endblock %}