{% extends 'base.html.twig' %}
{% block body %}
    {% include 'page/navbar.html.twig' %}

    <div class="container">
        <div class="row mb-3 title-div ml-10" >
            <div class="col-auto  card-icon-aside mt-3 ml-15">

                <img class="img-fluid" src="{{ asset('assets/img/flag-circle.png') }}" style="max-width: 10rem">

            </div>
            <div class="col">
                <div class="card-body py-5">
                    <h1 class="text-black mb-0 mt-3  title-home ">L'Ambassade de la R.I. d'Afghanistan en France</h1>
                    <h6 class="page-header-subtitle text-black  mt-2">&amp; Délégation permanente d'Afghanistan auprès de l'UNESCO et de l'ICESCO</h6>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-body">
                    <div class="row">
                        <h1 class="text-center ">Bienvenue au service de rendez-vous</h1>
                        <div class="col text-center m-5">
                            <img class="img-thumbnail" src="{{ asset('assets/img/undraw_date_picker_gorr.svg') }}" alt="" style="max-width: 20rem">
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>



{% endblock %}